/**
* General
*/

$red: #b92927;
$grey: #363636;
$silver: #cccccc;
$silver2: #898989;
$silver3: #f6f6f6;
$silver4: #666666;
$blue: #0072bc;
$green: #00a651;

h1, h2, h3, h4, h5{
	font-family: 'robotolight';
}

p{
	font-family: 'robotolight';
}

.off-canvas-wrapper{
	input[type=text]:not(.wdm_ua_s_elem),
	input[type=password],
	input[type=number],
	input[type=email]{
		background: none !important;
		box-shadow: none !important;
		width: 100% !important;
	}
}

form{
	label{
		>span{display: none;}
		color: $grey !important;
		font-weight: normal !important;
		font-size: .9em !important;
	}
	.field-visibility-settings-notoggle,
	.field-visibility-settings-toggle{display: none;}
	.error{
		margin: 0 !important;
		padding: 0 !important;
		background: none !important;
	    font-size: .9em;
	    font-family: robotolight;
	}
}

.red{
	color: $red;
}

.green{
	color: $green;
}

.grey{
	color: $grey;
}

.button{
	border-radius: 15px;
}

.button.custom{
	@extend .button;
	background: none;
	border: 2px solid $red;
	color: $red;
	font-weight: bold;
}

.button.custom:hover{
	background:none;
	color: #cc3333;
}

.button.alert{
    @extend .button;
    background: $red;
}

.wdm_auc_user_notice_suc{
	font-size: 1em;
    font-weight: normal;
    font-family: 'robotolight';
}

// Header

#masthead{

	.header-content{
		height: 110px;
		border-bottom: 1px solid $red;
		width:100%;
		background: #fff;

		> .row{
			
			.top-buttons{

				float: right;

			    .button{
			    	font-size: .8em;
			    	padding-top: 5px;
			    	padding-bottom: 8px;
				    border-top-left-radius: 0;
				    border-top-right-radius: 0;
				    background: $red;
				    color: #fff;
				    min-width: 102px;
				    margin: 0;
			    }
			    .button:hover{
			    	background: $grey;
			    }
			}

			#logo{
				margin: 2em 0;
				a{
					display: block;
					background:0;
				}
			}

			#site-navigation{
				.top-bar-right{
					> .menu{
						margin-top: 27px;
					}
					ul{
						li{
							border-right: none;
							a{
								background: none;
								color: #393939;
							}
							a:hover{
								color: $grey;
							}
						}
					}
				}
			}

		}

	}
}


/**
* Content
*/

// Add to watchlit button & containers
.wdm_add_to_watch_div_lin,
.wdm_rmv_frm_watch_div_lin{ 
	margin: 0 !important;
}
#wdm_rmv_frm_watch_lin,
#wdm_add_to_watch_lin{
	float: none !important;
	color: #fff !important;
}


// start of master content
#mastcontent{
	.main-container{
		min-height: 500px;
		padding-top: 3em;

		.main-heading{
			.ultdwww-auction-toplinks{
				li{
					padding-top: 1em;

					a.button{
						font-size: .8em;
						padding: .5em;
						color: #fff !important;
						margin-right: 1em;
					}
				}
				li.ultdww-fb-like{
					padding-top: 2em;
				}
			}
		}

		.main-content{
			.display-posts-listing{
				.listing-item:first-child{
					padding-top: .5em;
				}
				.listing-item{
					padding: 2em 0;
					border-bottom: 1px solid $silver;

					h4{
						margin-bottom: .5em;
					}
					.excerpt{
						display: inline-block;
						text-align: center;
						font-family: 'robotolight';
						margin: 2em 0;
						width: 648px;
					}
					.read-more{
						width: 648px;
						text-align: center;
					}
				}
			}

			#membership-table{
				p{
					margin: 0;
				}
				tbody{
					td{
						padding: 1.4em 0;
					}
				}
			}
		}

		#respond{
			margin-top: 3em;
			h3{
			    font-size: 1.5em;
			}
			p#allowed_tags{
				display: none;
			}
			textarea#comment{
			    background: #f0f0f0;
			    border: none;
			    box-shadow: none;
			    min-height: 100px;
			}
			#submit{
				@extend .button.custom;
				border-radius: none !important;
				font-size: 1.1em;
			}
		}

		#item-header{
			#profile-top-links{
				margin: 1em 0;
				ul{
					margin: 0;
					li{
						display: inline-block;
						float: none;
						a{
							color: $red;
							border-right: 1px solid $red;
							padding-top: 0;
							padding-bottom: 0;
						}
					}
					li:last-child a{
						border-right: none;
					}
				}
			}
			#cover-image-container{
				#item-header-content{
					#item-meta,
					#item-buttons{
						display: none;
					}
					.activity{
						margin: 1em 0;
						color: $silver4;
					}
				}
			}
		}
		#item-body{
			margin-top: 1.5em;
			
			h6{
				margin-bottom: 1em;
			}

			>form{
				padding: 1em 1em 0 1em !important;
				input[type=submit]{
					@extend .button.alert;
				}
			}
			form#settings-form{
				#pass1, #pass2{
					margin-bottom: 0;
				}
				.passwords-fields{
					.pass-field{
						margin-bottom: 1em;
					}
					small{
						color: $silver4;
					}
				}
			}
			#subnav{
				display: none;
			}
			.activity{
				padding-left: 1em;
				padding-right: 1em;
				#activity-stream{
					border: none;
					> li{
						margin-bottom: 1em;
						border: 1px solid $silver;
						.ac-reply-content{
							// input[type=submit]{
							// 	@extend .button.alert;
							// 	margin-bottom: 0;
							// 	padding: .5em;
							// }
						}
					}
				}
			}
			.profile{
				.profile-fields{
					font-size: .9em;
					tbody{
						tr{
							td.label{
								font-size: 1em;
								display: block;
								background: none;
								width: 100%;
								color: $silver4;
								padding: 1em;
							}
							td{
								a{color: $red;}
							}
						}
					}
				}
			}
		}
		
		.item-list-tabs{
			#activity-mentions,
			#activity-all,
			#activity-filter-select,
			.feed{
				display: none;
			}
		}
		
	}

	#single-post{
		margin-top: 0;
		padding-bottom: 4em;
		.ultimate-auction{
			.wdm-single-auction-author{
				margin-top: -27px; 
				float: none !important;
				padding: 0 !important;
				.wdm_ua_rate_review_link{
					font-size: .9em;
					a{
						color: $grey;
					}
					.author-name{
						display: inline-block;
					}
					.ua_avg_rate_stars{
						display: inline-block;
						margin-left: .5em;
					}
				}
			}
			.wdm-ultimate-auction-container{

				#wdm_add_to_watch_div_lin{
					float: none;
					margin: 1em 0;
					text-align: right;
					a#wdm_add_to_watch_lin{
						color: $red;
					}
				}

				.wdm-image-container{
					width: 275px;
					> .bx-wrapper:last-child{
						margin: 10px !important;
					}
				}

				.wdm_single_prod_desc{
				    width: 450px;

				    .wdm-mark-red{
			    	    margin: 1em 0;
    					font-family: 'robotolight';
				    }

					.time-left{
						.time-left-label{
							font-weight: bold;
						}
						.wdm-auction-ending-time{
							.wdm-single-auction-ending{
								line-height: .8em;
								font-size: 3em;
								font-weight: bold;
							}
						}
					}
					.time-ended{
						.time-ended-label{
							font-weight: bold;
						}
						.wdm-auction-ending-time{
							.wdm-single-auction-ending{
								font-size: 1.5em;
								font-weight: bold;
							}
						}
					}
					.close-time{
						color: $silver4;
						font-size: .8em;
						margin: 1em 0;
					}
					.starting-price{
						color: $green;
						small{font-size: 90%;}
						.the-price{
							font-size: 1.4em;
							line-height: .8em;
						}
					}
					.current-price{
						color: $blue;
						@extend .starting-price;
					}
					#wdm_place_bid_section{
						// form{
							margin: 0 !important;
							.wdm-bidder-bidval-label{
								width: 100% !important;
								text-align: left;
								color: $silver2 !important;
							}
							input#wdm-bidder-bidval{
								margin-bottom: 0;
							}
							.wdm_enter_val_text{
								color: $silver2;
								display: none;
							}
							.wdm_bid_val{
								margin-bottom: .5em;
								float: none !important;
							}
							.wdm_place_bid{
								float: none !important;
								#wdm-place-bid-now, a.wdm-login-to-place-bid{
									@extend .button.alert;
									font-weight: bold;
									background: $red !important;
									box-shadow: none !important;
								}
							}
						// }
					}
					#wdm_buy_now_section{
						#wdm-buy-line-above{
							border: none;
							#wdm-buy-now-button, a.wdm-login-to-buy-now{
								@extend .button;
								border: none;
								font-size: .9em !important;
								box-shadow: none !important;
							}
						}
					}
				}
			}

			#auctioneer-details{
				min-height: 100px;
				.details{
					ul{
						margin: 0;
						li{
							margin: 1em 0;
							list-style: none;
							.auctioneer-value{
								color: $silver4;
							}
						}
					}
				}
			}

			 #mini-menu{
		    	    
	    	    float: none !important;
	    	    text-align: right;
			    margin: 2em 0 .5em 0;
			    font-size: .8em;
		    	a{
		    		color: $silver2;
		    	}
		    }
			
			#auction-desc-tabs{
				margin-top: 0;
			    font-size: .8em;

			    #wdm-desc-msg-tab{
			    	form#wdm-auction-private-form{
			    		label{
			    			width: inherit;
			    		}
			    	}
			    }

			    #wdm-desc-bids-tab{
			    	.wdm-recent-bidders{
			    		> li{ width: 100px; }
			    	}
			    }

				#auction-tab-titles{
					li{
						color: $silver4;
					}
				}
				.auction-tab-container{
					padding-bottom: 10px;
					color: $silver4;
					.wdm-recent-bidders{
						li{
							h4{font-size: 1.2em;}
						}
					}
					input[type=submit]{
						@extend .button.alert;
					}
				}
				#wdm-desc-cmt-tab{
					.level1, .level2, .level3{
						background: $silver3;
					}
					.ua_comment_author{
					    padding: .5em 0;
    					line-height: .9em;
						color: $red;
					}
					.ua_comment_content{
						padding: .5em;
						font-family: 'robotolight';
					}
					.ua_comment_reply{
						padding: .5em !important;
						a{
							color: $red;
							font-size: .9em;
						}
					}
					#respond{
						display: none;
					}
				}
			}

			#wdm_ua_breadcrumb,
			.byline.author{
				display: none;
			}
			.entry-title{
				color: $red;
			}
		}

	}

	#content-widgets{
		margin-top: 2em;
		margin-bottom: 2em;
		h2{
			color: $red;
			font-size: 2em;
			font-weight: normal;
			font-family: 'robotolight';
		}
		ul{
			li{
			    width: 160px;
				display: inline-block;
				margin-right: 3em;
				border-bottom: none;
				vertical-align: top;
				a{
					img{
						float: none;
					}
					display: block;
				}
				a.post-title{
					color: $red;
					font-weight: normal;
					text-transform: capitalize;
				}
			}
		}
	}
}

// Auctions Plugin

#wdm-mega-menu{
	
	.wdm_ua_search_res_text{display: none}
	#wdm_ua_s_catmenu{ margin: 0; }
	#wdmua_search{
		input, select, button{
			font-family: 'robotolight' !important;
			font-weight: normal;
			font-size: 1em;
		}
		input[type=submit]{
		    box-shadow: 1px 1px 0px $grey;
		}
	}
	.wdm-sub{
		.wdm_clear{
			border: none;
		}
		.wdm-bottom-border{
			border: none;
		}
	}
}

.wdm-db-listing-container,
.wdm-auction-listing-container{

	// Action Tabs

	#wdm-auction-sorting-tabs{

		margin-bottom: 1em !important;

		> li{
			background: none;
			border: none;
			margin-bottom: .5em !important;
			> a{
				color: $red;
				border-right: 1px solid $red;
				padding: 0 .5em;
				line-height: 1.2em;
				font-weight: bold;
				font-size: .9em;
			}	
		}
		> li.ua-active-tab{
			a{
				color: $grey;
			}
		}
		> li:first-child{
			a{
				// padding-left: 0;
			}
		}
		> li:last-child{
			> a{
				border-right: none;
			}
		}
	}

	// Auction Tab List

	.wdm_auctions_list{

		border: 1px double $silver;

		.auction-list-menus{
			.wdm-auction-listing-container{
				> .wdm_all_li_content_auc{
					// display: none;
				}
			}
		}

		.wdm_ua_ajx_ld{
			font-size: .9em;
			margin-left: 1em;
		}

		input#wdm_mult_chk_del{
			box-shadow: 1px 2px $silver;
			padding: 8px 10px;
		}

		.refresh-link{
			font-size: .9em;
		    margin-left: .5em;
		    padding: .5em 0;
		    display: inline-block;
		}

		.label-silver{
			color: $silver2;
			font-size: .9em;
		    margin: .5em 0;
    		display: block;
		}

		// Settings - payment method
		#auction-settings-form{
			padding: 1em;
			.wdm-disabled-msg{float: none}
			> div > div:nth-child(even){background: $silver3;}
			> div > div{
				padding: 1em;
				> input{ margin: 0}
				font-family: 'robotolight';
			}
			.wdm-ua-submit, #wdmua-submit{
				font-family: 'robotoregular';
				@extend .button.alert;
			}
		}
		// Settings - paypal
		#paypal-settings-form,
		#wdm-payment-form,
		#wdm-add-auction-form{
			@extend #auction-settings-form;
		}


		.wdm-auction-single-item:first-child{
			border-top: none;
		}

		.wdm-auction-single-item{
			padding: 1em;
			.wdm_bid_now_btn{
				margin-bottom: 0;
			}
			.red{
				font-size: .9em;
			}

		}

		.wdm_front_links{
			padding: 0 !important;
			margin-left: .5em !important;
			li{
				>span{
					font-size: .8em;
					margin: 0 .4em;
					font-weight: bold;
					color: $grey;
				}
			}
		}
		.wdm_single_auction_thumb{
			margin: 0;
			img{
				border: 2px solid $silver !important;
			}
		}
		.auction-item-details{

			.wdm-auction-title{
				> a{
					font-size: 1.2em;
					font-weight: normal;
				}
				> a:hover{
					color: $grey;
				}
			}

			.opening-price{
				margin-bottom: 1em;
				color: $green;
				.price-label{
					font-size: .9em;
				}
			}

			.current-price{
				@extend .opening-price;
				color: $blue;
			}

			.listing-starts,
			.listing-ends{
				margin-bottom: 1em;
				color: $silver2;
				.listing-label{
					font-size: .9em;
				}
			}
		}

		// Manage auctions
		#wdm_ua_front_end_content{
			.wdmcontent{
				.front_usr_auclist{
					input[type=checkbox]{
						cursor: pointer;
					}
					padding: 1em;
					border: none;
					border-bottom: 1px solid $silver;

					.auction-owner{
						font-size: .9em;
						li{
							padding: 0;
							width: 100%;
							color: $grey;
						}
					}
				}
				.front_usr_auclist:first-child{
					padding-top: .5em;
				}
				.front_usr_auclist:last-child{
					border: none;
				}
			}
			.tab-content{
				min-height: 50px;
				.wdmua_action{
					font-size: .9em;
					font-family: 'robotolight';
				}
			}
		}
		#wdmua_del_all{
			margin-bottom: .5em;
		}
	}

	.pagination{

		float: none;

		span, a{
			background: none;
			color: $red;
		    padding: .2em;
    		font-size: 1.5em;
		}
		a{
			cursor: pointer;
		}
	}
}


#page{
	margin: 0;
	padding-bottom: 1em;
	max-width: 100%;
}

/**
* Footer
*/

#footer-container{
	margin: 0;
	border-top: 0;
	background: #f5f5f5;

	#footer{

		hr{
			margin-top: 0;
		}
		.social-links{
			width: 183px;
			height: 35px;
			margin: .5em auto;
			li{
				a{
					background: url(../images/social-links.png) no-repeat 0 0;
					height: 33px;
					width: 45px;
				}
				a.social-link-pinterest{background-position: -225px 0;}
				a.social-link-instagram{background-position: -150px 0;}
				a.social-link-fb{background-position: -80px 0;}
				a.social-link-twitter{background-position: -5px 0;}
			}
		}
		#category-posts-2{
			display: none;
		}
		#isw_block_widget-5{
			padding-top: 7em;
			.menu{
				a{
					font-size: .8em;
					color: #555555;
					padding: 0.7rem .5rem;
				}
			}
			.footer-menu{padding-top: 1em;}
			.copyright{
				margin-top: 3em;
			}
		}
	}
}

#page-full-width{

	margin-top: 0;
}


/**
* Sidebar
*/

.sidebar{

	.widget{
		border: 1px solid #cccccc;
		padding: 1em;
		background: #fff;
		box-shadow: 2px 3px 6px #ccc;

		form{
			label{
				margin-bottom: 0 !important;
			}
		}

		input[type=password]{
			width: 100%;
		}

		.social-media-btns{
			.button{
				margin-bottom: .5em;
				min-width: 200px;
				font-weight: bold;
				text-shadow: none;
			}
			.button.twitter-btn{
				background: #55acee;
			}
			.button.fb-btn{
				background: #47639e;
			}
		}
		#bp-login-widget-submit{
			min-width: 147px;
			font-weight: bold;
		}
	}
}

/**
* Widgets
*/

// quick links, search
#isw_block_widget-6,
.widget_search{
	box-shadow: none !important;
	border: none !important;

	h6{
		border-bottom: 1px solid $silver;
		font-size: 1.4em;
    	padding-bottom: .2em;
    	font-family: 'robotolight';
    	padding-left: .5em;
	}

	form{
		padding: 1em;
	}

	form#searchform{
		#searchsubmit{
			border-radius: 0;
			border: none;
			background: $silver;
			color: $grey;
		}
	}

	.menu{
		li{
			a{
				color: $grey;
			}
			a:hover{ color: #000; }
		}
	}
}

/**
* Single Post
*/

.single-post{
	#mastcontent{
		.entry-title{
			color: $red;
		}
		header{
			time, .byline.author{
				display: none !important;
			}
		}
		.entry-content{
			p{
				margin: 1em 0;
			}
		}
		#respond{
			display: none;
		}
		footer{
			display: none;
		}

		#single-post{
			.main-content{
				border-bottom: 1px solid $silver;
			}
		}
	}
}


/**
* Page Specific
*/

// home
.home-page{

	.main-container{
		padding-top: 0 !important;
	}

	.main-content{	
		padding: 0 !important;

		.entry-title{
			display: none;
		}

		> .entry-content{
			>p:first-of-type{
				margin: 0;
			}

			#home-slider{

				.huge_it_slideshow_image_wrap_1,
				.huge_it_slideshow_image_container_1{

				}
				margin-bottom: 2.5em;

				#huge_it_slideshow_left_1,
				#huge_it_slideshow_right_1{
					display: none !important;
				}

				#huge_it_slideshow_image_container_1{

					img{
						width: 100% !important;
					}

					border-bottom: 2px solid $red;

					.banner-text{
						background: 0 !important;
						font-family: 'robotolight';
						left: 5%;
						padding: 0;
						font-weight: normal;
						text-align: left;
					}

					.huge_it_slideshow_title_text_1{
						@extend .banner-text;
						line-height: 1.2em;
						width: 25%;
						font-size: 2em !important;
					    color: #fff;
					    width: 40%;
		    			top: 15%;
					}

					.huge_it_slideshow_description_text_1 {
						@extend .banner-text;
					    top: 30%;
					    width: 34%;
					    font-size: .9em !important;
					    p{text-align: center;}

					    ul{
					    	text-align: center;
				    		li{
				    			a{
				    				color: #fff;
				    			}
				    			display: inline-block;		
				    		}
				    	}
					    button{
				    	    margin-top: 1em;
		    				width: 200px;
		    				min-width: 289px;
		    				min-height: 48px;
		    				font-weight: bold;
		    				font-family: 'robotoregular';
					    }
					}
				}
			}

			#choose-membership{
				margin-bottom: 2.5em;
				text-align: center;
				font-weight: normal;
				font-family: 'robotolight';

				.membership-heading{
					font-family: 'robotoregular';
					font-size: 1.1em;
					margin-bottom: 1em;
				}

				.membership-title{
					font-size: 2em;
					margin-bottom: 1em;
				}
			}

			#featured-stores{
				margin-bottom: 4em;

				.slide-heading{
					position: absolute;
	    			z-index: 20;
	    			margin: 8% 5%;
				    font-size: 2em;
				    color: #fff;
				}

				.featured-stores-slide-text{
					color: #fff;
					background: none !important;
					right: 5%;
					width: 30%;
					padding: 0;
					text-align: left;
					font-family: 'robotolight';
					font-weight: normal;
				}

				.huge_it_slideshow_title_text_2 {
					@extend .featured-stores-slide-text;
					top: 25%;
				    font-size: 1.5em !important;
				}

				.huge_it_slideshow_description_text_2 {
					@extend .featured-stores-slide-text;
					top: 40%;
				    font-size: .9em !important;
				    a{
				    	color: $red;
				    }
				}
			}

			#download-app{
				h4{ 
					color: $red; 
					font-size: 2.2em;
					font-family: 'robotolight';
				}
				p{
					font-family: 'robotolight';
				}

				.download-col{
					
					padding: 2em 0;

					.download-buttons{
						margin: 2em 0;
						.button{
							border-radius: 0;
							width: 169px;
							height: 51px;
							display: inline-block;
							margin: 0 .2em;
						}
						.apple-app-store{
							background: url(../images/download-app-buttons.png) no-repeat 0 0;
						}
						.google-app-store{
							background: url(../images/download-app-buttons.png) no-repeat 100% 0;
						}
					}
				}
			}
		}

		> footer{
			>p{display: none;}
		}
	}
}


// register
.registration{
	.register-section{

		width: 100% !important;
		float: none !important;

		input{margin-bottom: 1em !important}

		.columns.small-3{
			label{
				margin-top: 5px !important;
			}
		}

		.radio{
			#field_10{
				label{
					cursor: pointer;
					float:left;
					margin-right: 2em;
					input{
						margin-right: .5em;
					}
				}
			}
		}

		#pass-strength-result{
			font-size: .9em;
		    font-family: 'robotolight';
		    width: 100% !important;
		    padding: 0 !important;
		}
	}

	#signup_submit{
		background: $red !important;
		color: #fff !important;
		border-radius: 15px !important;
		width: 147px;
		height: 48px;
		font-size: 1em !important;
	}

	#signup_submit:hover{
		background: $grey !important;
	}

	.entry-title{
		margin-bottom: .8em;
	}
}

// profile
.activity,
.xprofile,
.notifications,
.settings{
	.sidebar{
		#bp_core_login_widget-3,
		#isw_block_widget-7{
			display: none;
		}
	}
}

// login
.page-id-228{
	.entry-title{
		display: none;
	}

	#mastcontent{
		background: url(../images/login-bg.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
	}
}

// contact 
.page-id-265{
	.main-content{
		width: 50% !important;
	}
	.sidebar{width: 45%;
		#cntctfrm_contact_form{
			padding: 1em 2em;
			div{
				clear: none;
			}
			> .cntctfrm_error_text{display: none;}
			width: 100%;
			max-width: 100%;
			#cntctfrm_first_column{
				width: 100%;
				max-width: 100%;
				.cntctfrm_error_text{
					font-family: 'robotolight';
				}
			}
			.cntctfrmpr_field_wrap{
				margin-bottom: 1em;
				.cntctfrm_error_text{
					font-size: .9em;
					float: right;
				}
				.cntctfrm_label{
					float:left;
					margin: .5em 0;
    				width: 140px;
				}
				.cntctfrm_input{
					max-width: 100%;
					margin-left: 140px;
				}
			}
			#cntctfrm_submit_first_column{
				max-width: 100%;
				.cntctfrm_input_submit{
					float:right;
					input[type=submit]{
						@extend .button.alert;
						padding: .5em 1em;
					}
				}
			}
		}
	}

	#mastcontent{
		background: url(../images/contact-bg.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
	}
}

// choose membership &
.page-id-139{
	#page-full-width{
		.main-content{
			h2{
				font-size: 2em;
				margin-bottom: 2em;
			}
			header{
				display: none;
			}
			text-align: center;
			.row{
				> .columns{
					> .row{
						margin-bottom: 5em;
						> div{
							margin-bottom: 1em;
						}
						.title{
							font-size: 2em;
						}
						.description{
							font-family: 'robotolight';
						}
					}
				}
			}
		}
	}
}

// membership details
.page-id-294{
	#page-full-width{
		.main-content{
			header{
				display: none;
			}
			table{
				thead, tr, tbody{
					background: none;
					border: none;
				}
				th{
				    font-weight: normal;
				    font-family: 'robotolight';
				    font-size: 2em;
				}
				td{
					i.fa-check{
						font-size: 3em;
					}
				}
			}
		}
	}
}

