@include breakpoint(small down) {
    		
	#masthead{
		.row{
			padding: 0 !important;
		}
		padding: 0 !important;
	}

	#footer{
		padding-top: .5em !important;
		.menu{
			li{
				display: block;
				text-align: center;
			}
		}
		.social-links{
			margin: 0 auto;
		}
	}

	.home-page{

		.main-content{	

			#home-slider{

				.huge_it_slideshow_title_text_1{
					width: 90% !important;
				}
				.huge_it_slideshow_description_text_1 {
					display: none;
				}
			}

			#featured-stores{
				.slide-heading{
					position: relative !important;
					color: #000 !important;
				    margin: 0 !important;
	    			font-size: 1.5em !important;
	    		}

    			.huge_it_slideshow_description_text_2 {
    				display: none;
    			}
			}
		}
	}

	// contact page
	.page-id-265{
		#page .main-content,
		.main-content{
			width: 100% !important;
		}
		.sidebar{
			width: 100% !important;
			#cntctfrm_contact_form{
				padding: 0 !important;
			}
		}
	}
}

@include breakpoint(medium down) {

	/**
	* Content
	*/
	#mastcontent{
		#single-post{
			.ultimate-auction{
				.wdm-ultimate-auction-container{
					.wdm_single_prod_desc{
						width: 100% !important;
					}
				}
			}
		}
	}

	// Auctions Plugin

	#wdm-mega-menu{
		> li{
			margin-bottom: 1em;
		}
		#wdm_ua_s_catmenu{
			width: 100%;
			> a.wdmua_select_cat{
				width: 100%;
			}
		}
		#wdm_ua_s_container{
			width: 100%;
		}
	}

	.wdm-auction-listing-container{
		#wdm-auction-sorting-tabs{
			li{
				margin-right: 1em !important;
				a{
					border: none !important;
					padding: .5em 0 !important;
				}
			}
		}
	}
	.home-page{

		#home-slider{

			.huge_it_slideshow_title_text_1{
				width: 65% !important;
			}
			.huge_it_slideshow_description_text_1{
				width: 65% !important;
				p,ul{
					margin: 0;
					text-align: left !important;
				}
			}
		}
	}

	.page-id-228{
		#page{
			padding: 1em !important;
		}
	}
	// contact page
	.page-id-265{
		.sidebar{
			#cntctfrm_contact_form{
				padding: 0 !important;
			}
		}
	}
}